span{
    font-weight: bold;
}

#cards {
    background: #e0ccff;
    text-align: center;
}
.card {
    display: inline-block;
    height:80px;
    margin:10px;
    width: 20%;
    background: #a065ff;
}