*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

body {
  --background-color: hsl(0, 0%, 98%);
  --text-color: black;
  --elements-color: white;
  --shadowColor: #dfdede;
  --bgColor:white;
  margin: 0;
  font-family:"Nunito Sans";
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: 600;
  --mgColor:#dfdede;
}

body.dark {
  --background-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 98%);
  --elements-color: hsl(209, 23%, 22%);
  --shadowColor: #0e0e0e;
  --bgColor: hsl(209, 23%, 22%)
  --mgColor:hsl(0, 0%, 98%);
   transition: 0.15s;
}

main {
  padding: 24px;

}

a {
  text-decoration-line: none;
  color: inherit;
}

.header-container {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding-inline: 24px;
  background-color: var(--elements-color);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
  padding:0 2rem;
}

.title {
  font-weight: 700;
  font-size: 27px;
}

.theme-changer {
  cursor: pointer;
  font-weight: bold;
}

.countries-container {
  max-width: 1200px;
  margin-top: 16px;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  
}

/* .countries-container::after {
  content: "";
  flex: auto;
  
} */

.country-card {
  /* margin: 1; */
  width: 250px;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 24px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--elements-color);
  height:350px;
}

.country-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 20px;
  margin-block: 16px;
  padding-left: 10px;
}

.card-text {
  padding-inline: 16px;
 
}

.card-text p {
  margin-block: 8px;
  padding-left: 10px;
  font-weight: 300;
}


.country-card img {
  width: 100%;
 box-shadow: 0 0 1px;
}

.search-filter-container {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 90px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
   /* gap: 24px; */
  padding:0 2rem;
}

.search-container {
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  max-width: 450px;
  width: 90%;
  border-radius: 4px;
  padding-left: 30px;
  overflow: hidden;
  background-color: var(--elements-color);
  color: var(--text-color);
}

.search-container input {
  border: none;
  outline: none;
  width: 90%;
  height:48px;
  color:var(--text-color);
  background-color: var(--elements-color);
  
}
.search-container input::placeholder {
  color: #999;
}
.filter-by-region{

    width: 180px;
    min-width: 15ch;
    max-width: 30ch;
    border-radius: 0.25em;
    border: none;
    padding: 15px;
    cursor: pointer;
    line-height: 1.1;
    background-color: var(--elements-color);
    color:var(--text-color);
    outline: none;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
    border-right:12px solid var(--elements-color);
   
}
#magnify{
  margin-right:10px;
  color:var(--mgColor);
}

/* .filter-by-region {
  width: 180px;
  padding: 12px;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--elements-color);
  color: var(--text-color);
} */
/* .filter-by-region select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  width: 50px;
  box-sizing: border-box;
  outline: none;
  box-shadow: 10px 10px 10px -5px;
  border: 0px;
} */



.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff; 
  z-index: 9999; /* Sets a z-index to ensure the element stays on top of other elements */
}
.no-border{
  margin:0px;
}

@media (max-width: 768px) {
  .title {
    font-size: 12px;
  }
.header-content{
  padding-right: 0;
  padding-left: 0;
 
}

  .header-content p {
    font-size: 12px;
  }
  
  .header-content h2 {
    font-size: 16px;

  }
  .search-container {
    width: 340px;
    margin-bottom: 24px;
  }
  .filter-by-region{
    width:220px;
  }
  .search-filter-container {
    flex-direction: column;
    width:100%;
    padding-left:0;
  }
 
  .countries-container{
  justify-content: center;
  }
}




/* @media (min-width: 1200px) {
  main {
    max-width: 1400px;
    margin: 0 auto;
  }

  .header-content {
    max-width: 1400px;
  }

  .countries-container {
    max-width: 1400px;
  }
*/

@media (min-width: 1024px) {
  .search-filter-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .search-container {
    width: 400px;
  }

  .filter-by-region {
    width: 200px;
  }


}