* {
  box-sizing: border-box;
}

body {
  --background-color: hsl(0, 0%, 92%);
  --text-color: black;
  --elements-color: white;
  --shadowColor: #dfdede;
  --bgColor:white;
  margin: 0;
  font-family:"Nunito Sans";
  background-color: var(--background-color);
  color: var(--text-color);
  
}

body.dark {
  --background-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 92%);
  --elements-color: hsl(209, 23%, 22%);
  --shadowColor: #0e0e0e;
  --bgColor: hsl(209, 23%, 22%)
   transition: 0.15s;
}

main {
  padding: 24px;

}

a {
  text-decoration-line: none;
  color: inherit;
}

.header-container {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding-inline: 24px;
  background-color: var(--elements-color);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
  padding:0 2rem;
}

.title {
  font-weight: 700;
  font-size: 27px;
}

.theme-changer {
  cursor: pointer;
}

.countries-container {
  max-width: 1200px;
  margin-top: 16px;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  
}
/* .countries-container::after {
  content: "";
  flex: auto;
  
} */

.country-card {
  /* margin: 1; */
  width: 250px;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 24px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--elements-color);
  height:370px;
}




.country-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 24px;
  margin-block: 16px;
}

.card-text {
  padding-inline: 16px;

}

.card-text p {
  margin-block: 8px;
}

.country-card img {
  width: 100%;
 box-shadow: 0 0 1px;
}

.search-filter-container {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 90px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding:0 2rem;
}

.search-container {
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  max-width: 350px;
  width: 90%;
  border-radius: 4px;
  padding-left: 30px;
  color: #999;
  overflow: hidden;
  background-color: var(--elements-color);
  color: var(--text-color);
}

.search-container input {
  border: none;
  outline: none;
  /* padding: 22px; */
  width: 90%;
  height:48px;
  background-color: inherit;
  color: inherit;
}
.search-container input::placeholder {
  color: #999;
}

.filter-by-region {
  width: 180px;
  padding: 12px;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--elements-color);
  color: var(--text-color);
}
.filter-by-region select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  /* width: 50px; */
  box-sizing: border-box;
  outline: none;
  box-shadow: 10px 10px 10px -5px;
  border: 0px;
}


.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff; 
  z-index: 9999; /* Sets a z-index to ensure the element stays on top of other elements */
}
.no-border{
  margin:0px;
}

@media (max-width: 768px) {
  .title {
    font-size: 16px;
  }

  .header-content p {
    font-size: 12px;
  }
  .header-content h2 {
    font-size: 20px;
  }

  .search-filter-container {
    flex-direction: column;
  }
}




/* @media (min-width: 1200px) {
  main {
    max-width: 1400px;
    margin: 0 auto;
  }

  .header-content {
    max-width: 1400px;
  }

  .countries-container {
    max-width: 1400px;
  }
*/

@media (min-width: 1024px) {
  .search-filter-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .search-container {
    width: 350px;
  }

  .filter-by-region {
    width: 200px;
  }


}